<br>
<br>
<div class="traffic">
<h1>Welcome back!</h1>
<br>



<h3>Log In</h3>
<form action="/user" method="POST" class="auth-form">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In" class="btn">
</form>

</div>