<br>
<div id="cover_photo">
	<h1 id="cover_title"> Magic Traffic </h1>

</div>

<br>
<br>

<section class="form-container">
  <h4 id="newpost">New Post</h4>
  <form action="/post" method="POST" class="post-form">
    <p class="input-field">
      <textarea name="content" cols="70" rows="5" placeholder="Message"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Post" class="btn">
    </p>
  </form>
</section>

{{#each posts}}
  <div class="posts">
  <p>{{content}} {{comments}}</p>
  </div>
{{/each}}
