

<div id="cover_photo">
	<h1 id="cover_title"> {{ title }}</h1>

</div>



<!-- random form -->
<!-- <form action="/" method="post">
  <label for="name">Please enter your name</label>
  <input id="name" type="text" name="name">
  <input type="submit">
</form> -->