<h4>Sign Up:</h4>

  {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
  {{/if}}

<br>
<div class="welcomeback">
<h1>Welcome to Magic Traffic {{name}}</h1>
<h4>The #1 site for Orlando Magic fans <img id="logo" src="https://is3-ssl.mzstatic.com/image/thumb/Purple62/v4/28/3d/2f/283d2fe3-5487-1ba7-747e-5dac24ac06b0/mzl.coeemysf.png/246x0w.jpg" alt="logo"></h4>


<br>

<h3>Sign Up</h3>
<form action="/user/signup" method="POST" class="auth-form">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign Up" class="btn">
</form>

</div>