<h4>Sign Up:</h4>

  {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
  {{/if}}

<br>
<div class="traffic">
<h1>Welcome to Magic Traffic {{name}}</h1>
<h4>The #1 site for Orlando Magic fans</h4>

<br>
<br>


<h3>Sign Up</h3>
<form action="/user/signup" method="POST" class="auth-form">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign Up" class="btn">
</form>

</div>