body {
	background-color: #C4CED4;
}

#cover_photo {
	height: 570px;
	width: 100%;
	background-color: #444;
	background-image: url("../img/gordon1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	margin-top: 11px;
}

#cover_title{
	position: absolute;
	background-color: #C4CED4;
	color: #0077C0 ;
	padding: 15px 25px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Sunflower', sans-serif;
	bottom: 0;
  	margin: -10px;
  	font-weight: bold;
    font-size: 1.50em;
    letter-spacing: 0.8px;
    border-radius: 10px;
}

nav {
	display: block;
	width: 100%;
	background-color: #0077C0;
	height: 35px;
	position: fixed;
	z-index: 1;

}

nav a {
	color: white;
}

nav a:hover {
	color: #C4CED4;
	text-decoration: none;
}

ul { 
	width: 100%;
	margin: 0;
	padding: 5px 10px 5px 10px;
	font-family: 'Lato', sans-serif;
}

li {
	display: inline;
	font-size: 17px;
	font-weight: bold;
}

.form-container {
	text-align: center;
	color: #0077C0;
	font-family: 'Sunflower', sans-serif;
}

.traffic {
	margin-left: 10px;
}



